
{% extends 'base.html' %}
{% block page_title %}Login User{% endblock %}

{% block content %}
<h1 class="display-1">Login</h1>

<form method="POST">

    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field (class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}    
    </p>
    {% endfor %}
    <button class="btn btn-success">Login</button>
</form>
{% endblock %}